// JourneyMap server configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft server
// For more information, go to: http://journeymap.info/JourneyMapServer
//
// Dimension ResourceKey[minecraft:dimension / mineminenomi:challenges_8cae250b-7a60-3eb3-b16a-903d129eecd4] Configuration : Overrides the Global Server Configuration for this dimension - sent enable true to override global settings for this dim 
{
  "enabled": "false",
  "dimension": {
    "field_240899_b_": {
      "field_110626_a": "minecraft",
      "field_110625_b": "dimension"
    },
    "field_240900_c_": {
      "field_110626_a": "mineminenomi",
      "field_110625_b": "challenges_8cae250b-7a60-3eb3-b16a-903d129eecd4"
    }
  },
  "teleportEnabled": "false",
  "renderRange": "0",
  "surfaceMapping": "ALL",
  "topoMapping": "ALL",
  "biomeMapping": "ALL",
  "caveMapping": "ALL",
  "radarEnabled": "ALL",
  "playerRadarEnabled": "true",
  "villagerRadarEnabled": "true",
  "animalRadarEnabled": "true",
  "mobRadarEnabled": "true",
  "configVersion": "5.8.6"
}